page-playvideo {
  .toolbar-background-md{
      background: #939fad !important;
      color:  $white;
  }
  ion-icon{
      color:  $white !important;
  }
  .toolbar-title-md {
    color:  $white !important;
  }
}
