
        
<ion-content class="about-us innerbody-Marginbottom">
    <div class="tutorial-container"> 
        <!-- <ion-slides > -->
                <ion-slides pager="true" *ngIf="!isDesktop && isIos">
                    <ion-slide>
                        <img src='assets/images/mobileTutorials/ios/tutorial8.png' class="tutorial-image" />
                        <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                    </ion-slide>
                        <ion-slide>
                                <img src='assets/images/mobileTutorials/ios/tutorial.png' class="tutorial-image" />
                                <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                            </ion-slide>
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/ios/tutorial1.png' class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/ios/tutorial2.png' class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src="assets/images/mobileTutorials/ios/tutorial3.png"   class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src="assets/images/mobileTutorials/ios/tutorial4.png"  class="tutorial-image"  />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/ios/tutorial5.png' class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                                <img src='assets/images/mobileTutorials/ios/tutorial6.png' class="tutorial-image" />
                                <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/ios/tutorial7.png' class="tutorial-image" (click)="dismissTutorial($e)"/>
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                    </ion-slide>
                    </ion-slides>
                    <ion-slides pager="true" *ngIf="!isIos">
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/android/tutorial8.png' class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                            <ion-slide>
                                    <img src='assets/images/mobileTutorials/android/tutorial.png' class="tutorial-image" />
                                    <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                                </ion-slide>
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/android/tutorial1.png' class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/android/tutorial2.png' class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src="assets/images/mobileTutorials/android/tutorial3.png"   class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src="assets/images/mobileTutorials/android/tutorial4.png"  class="tutorial-image"  />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/android/tutorial5.png' class="tutorial-image" />
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
                        <ion-slide>
                                <img src='assets/images/mobileTutorials/android/tutorial6.png' class="tutorial-image" />
                                <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                        </ion-slide>
            
                        <ion-slide>
                            <img src='assets/images/mobileTutorials/android/tutorial7.png' class="tutorial-image" (click)="dismissTutorial($e)"/>
                            <button class="skipbutton" (click)="dismissTutorial($e)">EXIT >|</button>
                    </ion-slide>
                    </ion-slides>
    </div>
       

</ion-content>